div.row{
  margin:0px;
}




div.col-xs-4.icon-feature{
  color:#fff;
}



i.glyphicon.glyphicon-envelope{
  font-size:35px;
  color:#fff;
}

i.glyphicon.glyphicon-earphone{
  font-size:xx-large;
  color:#fff;
}

i.glyphicon.glyphicon-cloud{
  font-size:xx-large;
}

p.white-color{
  color:#fff;
}

h2.white-color{
  color:#fff;
}




a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}





div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

.icon-features{
  text-align:center;
}







div#content.col-md-12{
  background-color:#f9f9f9;
}

.thumbnail{
  border:0px;
  box-shadow:none;
  padding:30px;
  padding-right:30px;
  color:#8f8b8b;
}

h1#sign-button{
  font-size:20px;
  float:right;
  padding-right:50px;
  color:#127bc1;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-detail a{
  font-size:14px;
}



#recommend h1{
  font-size:x-large;
}

.recomend img{
  width:100px;
}

#recommend img{
  width:100px;
}

img#logo{
  width:250px;
  padding-left:20px;
}

#banner{
  background-image:url(../../assets/img/about-banner.png);
  height:600px;
  padding-top:100px;
}

div#show-block{
  background-color:#fff;
}

#show-block a{
  padding-left:0px;
}

#show-block h3{
  color:#f48a3b;
  font-size:30px;
}

#banner h2{
  font-size:50px;
  text-align:center;
  color:#000;
}

@media (max-width:767px) {
  #banner p{
    font-weight:300;
    font-size:20px;
    text-align:center;
    padding-left:20px;
    padding-top:20px;
    padding-right:20px;
    padding-bottom:20px;
  }
}

@media (min-width:768px) {
  #banner p{
    font-weight:300;
    font-size:20px;
    text-align:center;
    padding-left:150px;
    padding-right:150px;
    line-height:30px;
  }
}

#banner button{
  float:none;
}

#image-group img{
  width:400px;
}


#image-group img{
  width:600px;
}

#show-block p{
  font-size:18px;
  color:#8f8b8b;
}

div#feed-back.col-md-12{
  background-color:#296697;
}

#feed-back label{
  color:#fff;
}

#feed-back h2{
  color:#fff;
}

div.modal.fade{
  height:200px;
  background-color:#000000;
}

#myModal{
  height:600px;
}

#contact-me a{
  font-size:30px;
  color:#fff;
}

i.glyphicon.glyphicon-star{
  font-size:35px;
}

div#contact-me{
  background-color:#91a271;
}


i.glyphicon.glyphicon-map-marker{
  color:#fff;
  font-size:35px;
}

div#content-tab{
  padding-left:100px;
  padding-top:80px;
}

#show-block button{
  margin-left:10px;
}
span.label.label-default.col-md-4{
  color:#000;
  background-color:#fff;
  font-size:15px;
}

.control-label{
  color:#000;
  background-color:#fff;
  font-size:15px;
  font-weight:300;
}

.column-tab{
  margin-bottom:20px;
}
