button.btn.btn-default{
  float:right;
}

div.row{
  margin:0px;
}

`{
}

div#toppic.col-md-12{
  background-color:#F2f2f2;
}

div#welcome-tab.col-md-12{
  background-color:#7c7C7c;
}

div.col-xs-4.icon-feature{
  color:#fff;
}

f{
}

i.glyphicon.glyphicon-envelope{
  font-size:xx-large;
}

i.glyphicon.glyphicon-earphone{
  font-size:xx-large;
}

i.glyphicon.glyphicon-cloud{
  font-size:xx-large;
}

p.white-color{
  color:#fff;
}

h2.white-color{
  color:#fff;
}

div#vocab{
  background-color:#f2f2f2;
  height:80px;
}

div#site-map.row{
  color:#7c7c7c;
  font-size:15px;
}

h1#site-map{
  font-size:large;
}

a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}

h1#site-map{
  font-size:initial;
}

#site-map a{
  font-size:15px;
  font-weight:600;
}

#site-map h1{
  padding-left:25px;
}

div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

div.thumbnail.member-tab{
}

.icon-features{
  text-align:center;
}

li #coming-activity{
  font-size:16px;
}

#coming-activity li{
  padding-top:10px;
  font-size:18px;
}

a#word{
  font-size:30px;
  color:#337ab7;
}

h2.green{
  background-image:url(../../assets/img/aaa.png);
  height:65px;
  width:200px;
}

.gray{
  background-image:url(../../assets/img/bbb.png);
  height:65px;
  width:200px;
}

div#upcoming-new.col-md-6{
}

div#content.col-md-12{
  background-color:#f9f9f9;
}

.thumbnail{
  border:0px;
  box-shadow:none;
  padding:30px;
  padding-right:30px;
  background-color:#f4f4f4;
  color:#8f8b8b;
}

h1#sign-button{
  font-size:20px;
  float:right;
  padding-right:50px;
  color:#127bc1;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-detail a{
  font-size:14px;
}

h1.recommend{
}

.recommend h1{
}

#{
}

#recommend h1{
  font-size:x-large;
}

.recomend img{
  width:100px;
}

#recommend img{
  width:100px;
}

img#logo{
  width:250px;
  padding-left:20px;
}

#banner{
  background-color:#fafafa;
}

div#show-block{
  background-color:#fafafa;
}

#show-block a{
  color:#5ab4da;
}

.show-block h3{
  color:#8f8b8b;
}

.image-show{
  background-image:url(../../assets/img/findyourway.png);
  height:700px;
}

h2.head-title{
  color:#fff;
  font-weight:300;
  font-size:40px;
  padding-top:150px;
}

p.title-content{
  color:#fff;
  font-size:25px;
  font-weight:200;
}

h3.block-title{
  color:#127bc1;
}

h3.block-content{
}

p.block-content{
  color:#7c7c7c;
}

