button.btn.btn-default{
  border:0;
}

div.row{
  margin:0px;
}



div#toppic.col-md-12{
  background-color:#F2f2f2;
}

div#welcome-tab.col-md-12{
  background-color:#7c7C7c;
}

div.col-xs-4.icon-feature{
  color:#fff;
}



i.glyphicon.glyphicon-envelope{
  font-size:xx-large;
}

i.glyphicon.glyphicon-earphone{
  font-size:xx-large;
}

i.glyphicon.glyphicon-cloud{
  font-size:xx-large;
}

p.white-color{
  color:#fff;
}

h2.white-color{
  color:#fff;
}

div#vocab{
  background-color:#f2f2f2;
  height:80px;
}





a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}





div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

div.thumbnail.member-tab{
  border:none;
}

.icon-features{
  text-align:center;
}





div#content.col-md-12{
  background-color:#f9f9f9;
}





#menu .thumbnail{
  background-color:#f2f2f2;
}

div.caption{
}

#market .thumbnail .caption{
  margin-bottom:-18px;
}

#market.thumbnail.caption{
  padding-bottom:10px;
}

div#show-image{
  background-image:url(../../assets/img/join3.png);
  height:790px;
  padding-top:80px;
  background-repeat:no-repeat;
}

#show-image{
  color:#7c7c7c;
}

@media (min-width:768px) {
  #show-image p{
    color:#7c7c7c;
    font-size:20px;
    padding-left:250px;
    padding-right:250px;
    font-weight:300;
  }
}

.head-toppic{
  padding-left:30px;
}

#show-image{
  height:600px;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 360px){
  padding-left:20px;
}

@media (min-width:992px) {
  #p{
    float:left;
  }
}

h1#sign-button{
  float:right;
  padding-right:50px;
  font-size:25px;
}



h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-details a{
  font-size:12px;
  font-weight:100;
}



#follow-detail a{
  font-size:14px;
  font-weight:initial;
}

#content img{
  width:350px;
}

#show-image h2{
  font-size:60px;
  color:#000;
}

div#content.row{
  background-color:#edebe7;
}

h2{
	color:#000;
}

#content h2{
  font-size:45px;
}

#content p{
  font-size:16px;
}

#show-image h1{
  font-size:50px;
}

#content h3{
  font-size:30px;
  color:#000;
}



small{
  clear:both;
}

div#application-form.col-md-12{
  background-image:url(../../assets/img/note.png);
  background-repeat:no-repeat;
}

img#logo{
  width:250px;
  padding-left:20px;
}

.form-horizontal .control-label{
  font-size:18px;
  font-weight:300;
}
@media (min-width:360px) {
  #show-image p{
    font-size:20px;
    color:#7c7c7c;
    font-weight:300;
  }
}


