button.btn.btn-default{
  float:right;
  border:0;
}

div.row{
  margin:0px;
}

`{
}

div#toppic.col-md-12{
  background-color:#F2f2f2;
}

div#welcome-tab.col-md-12{
  background-color:#7c7C7c;
}

div.col-xs-4.icon-feature{
  color:#fff;
}

f{
}

i.glyphicon.glyphicon-envelope{
  font-size:xx-large;
}

i.glyphicon.glyphicon-earphone{
  font-size:xx-large;
}

i.glyphicon.glyphicon-cloud{
  font-size:xx-large;
}

p.white-color{
  color:#fff;
}

h2.white-color{
  color:#fff;
}



a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}




div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

div.thumbnail.member-tab{
  border:none;
}

.icon-features{
  text-align:center;
}

li #coming-activity{
  font-size:16px;
}

#coming-activity li{
  padding-top:10px;
  font-size:18px;
}

a#word{
  font-size:30px;
  color:#337ab7;
}

h2.green{
  background-image:url(../../assets/img/aaa.png);
  height:65px;
  width:200px;
}

.gray{
  background-image:url(../../assets/img/bbb.png);
  height:65px;
  width:200px;
}

div#upcoming-new.col-md-6{
}

div#content.col-md-12{
  background-color:#f9f9f9;
}

.gray-tab{
}

#coming-activitdiv.thumbnail{
}

#menu .thumbnail{
  background-color:#f2f2f2;
}

div.caption{
}

#market .thumbnail .caption{
  margin-bottom:-18px;
}

#market.thumbnail.caption{
  padding-bottom:10px;
}

div#show-image{
  background-image:url(../../assets/img/background.png);
  padding-top:80px;
}

#show-image{
}

@media (min-width:768px) {
  #show-image p{
    color:#fff;
    font-size:25px;
    padding-left:150px;
    padding-right:150px;
    font-weight:300;
  }
}

.head-toppic{
  padding-left:30px;
}

#show-image{
  height:600px;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 360px){
  padding-left:20px;
}

@media (min-width:992px) {
  #p{
    float:left;
  }
}

h1#sign-button{
  float:right;
  padding-right:50px;
  color:#127bc1;
  font-size:20px;
}

company-details{
  font-size:15px;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-details a{
  font-size:12px;
  font-weight:100;
}

#follow-details a{
}

#follow-detail a{button.btn.btn-default{
  float:right;
  border:0;
}button.btn.btn-default{
  float:right;
  border:0;
}

div.row{
  margin:0px;
}


div#toppic.col-md-12{
  background-color:#F2f2f2;
}

div#welcome-tab.col-md-12{
  background-color:#7c7C7c;
}

div.col-xs-4.icon-feature{
  color:#fff;
}

f{
}

i.glyphicon.glyphicon-envelope{
  font-size:xx-large;
}

i.glyphicon.glyphicon-earphone{
  font-size:xx-large;
}

i.glyphicon.glyphicon-cloud{
  font-size:xx-large;
}

p.white-color{
  color:#fff;
}

h2.white-color{
  color:#fff;
}



a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}




div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

div.thumbnail.member-tab{
  border:none;
}

.icon-features{
  text-align:center;
}

li #coming-activity{
  font-size:16px;
}

#coming-activity li{
  padding-top:10px;
  font-size:18px;
}

a#word{
  font-size:30px;
  color:#337ab7;
}

h2.green{
  background-image:url(../../assets/img/aaa.png);
  height:65px;
  width:200px;
}

.gray{
  background-image:url(../../assets/img/bbb.png);
  height:65px;
  width:200px;
}

div#upcoming-new.col-md-6{
}

div#content.col-md-12{
  background-color:#f9f9f9;
}

.gray-tab{
}

#coming-activitdiv.thumbnail{
}

#menu .thumbnail{
  background-color:#f2f2f2;
}

div.caption{
}

#market .thumbnail .caption{
  margin-bottom:-18px;
}

#market.thumbnail.caption{
  padding-bottom:10px;
}

div#show-image{
  background-image:url(../../assets/img/background.png);
  padding-top:80px;
}

#show-image{
}

@media (min-width:768px) {
  #show-image p{
    color:#fff;
    font-size:25px;
    padding-left:150px;
    padding-right:150px;
    font-weight:300;
  }
}

.head-toppic{
  padding-left:30px;
}

#show-image{
  height:600px;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 360px){
  padding-left:20px;
}

@media (min-width:992px) {
  #p{
    float:left;
  }
}

h1#sign-button{
  float:right;
  padding-right:50px;
  color:#127bc1;
  font-size:20px;
}

company-details{
  font-size:15px;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-details a{
  font-size:12px;
  font-weight:100;
}

#follow-details a{
}

#follow-detail a{
  font-size:14px;
  font-weight:initial;
}

img{
}

img#logo{
  width:250px;
}

.site-map a{
  font-size:15px;
  font-weight:300;
}



.site-map h1 a{
  color:#7c7c7c;
}

h2{
  color:#000;
}

#show-image h2{
}

#show-image h2{
  color:#fff;
}

h3{
  color:#000;
}



div.row{
  margin:0px;
}

`{
}

div#toppic.col-md-12{
  background-color:#F2f2f2;
}

div#welcome-tab.col-md-12{
  background-color:#7c7C7c;
}

div.col-xs-4.icon-feature{
  color:#fff;
}

f{
}

i.glyphicon.glyphicon-envelope{
  font-size:xx-large;
}

i.glyphicon.glyphicon-earphone{
  font-size:xx-large;
}

i.glyphicon.glyphicon-cloud{
  font-size:xx-large;
}

p.white-color{
  color:#fff;
}

h2.white-color{
  color:#fff;
}



a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}




div#footer-detail{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

div.thumbnail.member-tab{
  border:none;
}

.icon-features{
  text-align:center;
}

li #coming-activity{
  font-size:16px;
}

#coming-activity li{
  padding-top:10px;
  font-size:18px;
}

a#word{
  font-size:30px;
  color:#337ab7;
}

h2.green{
  background-image:url(../../assets/img/aaa.png);
  height:65px;
  width:200px;
}

.gray{
  background-image:url(../../assets/img/bbb.png);
  height:65px;
  width:200px;
}

div#upcoming-new.col-md-6{
}

div#content.col-md-12{
  background-color:#f9f9f9;
}

.gray-tab{
}

#coming-activitdiv.thumbnail{
}

#menu .thumbnail{
  background-color:#f2f2f2;
}

div.caption{
}

#market .thumbnail .caption{
  margin-bottom:-18px;
}

#market.thumbnail.caption{
  padding-bottom:10px;
}

div#show-image{
  background-image:url(../../assets/img/background.png);
  padding-top:80px;
}

#show-image{
}

@media (min-width:768px) {
  #show-image p{
    color:#fff;
    font-size:25px;
    padding-left:150px;
    padding-right:150px;
    font-weight:300;
  }
}

.head-toppic{
  padding-left:30px;
}

#show-image{
  height:600px;
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 480px){
}

@media screen and (min-width: 360px){
  padding-left:20px;
}

@media (min-width:992px) {
  #p{
    float:left;
  }
}

h1#sign-button{
  float:right;
  padding-right:50px;
  color:#127bc1;
  font-size:20px;
}

company-details{
  font-size:15px;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-details a{
  font-size:12px;
  font-weight:100;
}

#follow-details a{
}

#follow-detail a{
  font-size:14px;
  font-weight:initial;
}

img{
}

img#logo{
  width:250px;
}

.site-map a{
  font-size:15px;
  font-weight:300;
}



.site-map h1 a{
  color:#7c7c7c;
}

h2{
  color:#000;
}

#show-image h2{
}

#show-image h2{
  color:#fff;
}

h3{
  color:#000;
}


  font-size:14px;
  font-weight:initial;
}

img{
}

img#logo{
  width:250px;
}

.site-map a{
  font-size:15px;
  font-weight:300;
}



.site-map h1 a{
  color:#7c7c7c;
}

h2{
  color:#000;
}

#show-image h2{
}

#show-image h2{
  color:#fff;
}

h3{
  color:#000;
}

ul li img{
	width:150px;
}

@media (max-width:767px) {
	.tab-content{
		
		padding-left:50px;
		padding-right:50px;
		font-size:16px;

	}
}
@media (min-width:768px) {
.tab-content{
	
	padding-left:200px;
	padding-right:200px;
	font-size:16px;

	}
}
.tab-content h2{
	color:#3272da;
	
}
#footer{
	background-color:#f2f2f2;
}
.menu-collapse{
	font-size:20px;
	color:#000;
}