button.btn.btn-default{
  float:right;
}

div.row{
  margin:0px;
}




div.col-xs-4.icon-feature{
  color:#fff;
}



i.glyphicon.glyphicon-envelope{
  font-size:60px;
}

i.glyphicon.glyphicon-earphone{
  font-size:60px;
}

i.glyphicon.glyphicon-cloud{
  font-size:60px;
}






a{
  color:#7c7c7c;
}

h1{
  font-size:15px;
}




div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}



.icon-features{
  text-align:center;
}



h2.green{
  height:65px;
  width:200px;
}

.gray{
  height:65px;
  width:200px;
}


div#content.col-md-12{
  background-color:#f9f9f9;
}

.thumbnail{
  border:0px;
}

h1#sign-button{
  font-size:20px;
  float:right;
  padding-right:50px;
  color:#127bc1;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-detail a{
  font-size:14px;
}

h2#hilight{
  color:#8b7b49;
}

h2.hilight{
  color:#127bc1;
}

#logo{
  width:250px;
  padding-left:40px;
}



@media (max-width:992px) {
  div.col-md-2{
    width:50%;
    float:left;
  }
}

member-tab p{
  text-align:center;
}

member.thumbnail.caption{
  text-align:center;
}



a{
  font-weight:200;
}

p.welcome-text{
  color:#fff;
}

h2.welcome-text{
  color:#fff;
}

.site-map a{
  font-size:15px;
}



.site-map h1 a{
  color:#7c7c7c;
}

div.thumbnail.title-content{
  padding:40px;
}

h3{
  color:#000;
}

