button.btn.btn-default{
  float:right;
}

div.row{
  margin:0px;
}



div#toppic.col-md-12{
  background-color:#F2f2f2;
}

div#welcome-tab.col-md-12{
  background-color:#296697;
}

div.col-xs-4.icon-feature{
  color:#fff;
}

h3{
	color:#000;
}

i.glyphicon.glyphicon-envelope{
  font-size:60px;
}

i.glyphicon.glyphicon-earphone{
  font-size:60px;
}

i.glyphicon.glyphicon-cloud{
  font-size:60px;
}

p.white-color{
  color:#fff;
  font-size:16px;
}

h2.welcome-title{
  color:#fff;
  font-weight:200;
}

div#vocab{
  background-color:#f2f2f2;
  height:80px;
}

div#site-map.row{
  color:#7c7c7c;
  font-size:15px;
}

h1#site-map{
  font-size:large;
}

a{
  color:#000;
}

h1{
  font-size:15px;
}

h1#site-map{
  font-size:initial;
}

#site-map a{
  font-size:15px;
  font-weight:300;
}

#site-map h1{
  padding-left:25px;
}

div#footer-detail.col-md-12{
  color:#7c7c7c;
  background-color:#f2f2f2;
}

#footer-submit{
  float:none;
}

#follow-detail{
  float:right;
  width:380px;
}

h1#follow-tab{
  height:20px;
}

a.white-color{
  color:#fff;
}

div.thumbnail.member-tab{
  border:none;
  box-shadow:none;
}

.icon-features{
  text-align:center;
}

li #coming-activity{
  font-size:16px;
}

#coming-activity li{
  padding-top:10px;
  font-size:15px;
}

a#word{
  font-size:30px;
  color:#337ab7;
}

h2.green{
  height:65px;
  width:200px;
}

.gray{
  height:65px;
  width:200px;
}

div#upcoming-new.col-md-6{
}

div#content.col-md-12{
  background-color:#f9f9f9;
}

.thumbnail{
  border:0px;
}

h1#sign-button{
  font-size:20px;
  float:right;
  padding-right:50px;
  color:#127bc1;
}

h1#company-details{
  font-size:10px;
  clear:both;
}

#follow-detail a{
  font-size:14px;
}

h2#hilight{
  color:#8b7b49;
}

h2.hilight{
  color:#127bc1;
}

#logo{
  width:250px;
  padding-left:40px;
}

#member{
}

@media (max-width:992px) {
  div.col-md-2{
    width:50%;
    float:left;
  }
}

hr{
}

a{
  font-weight:400;
}

p.welcome-text{
  color:#fff;
}

h2.welcome-text{
  color:#fff;
}

.site-map a{
  font-size:15px;
}

.sitemap h1 a{
}

.site-map h1 a{
  color:#4c4e4e;
  font-weight:200;
}



a:focus, a:hover{
  color:#000;
}

div.header{
  padding-bottom:10px;
}

.site-map h1{
  color:#000;
  font-weight:400;
}

h2{
  color:#000;
}

span.label.label-default.col-md-4{
  color:#000;
  background-color:#fff;
  font-size:15px;
}

.control-label{
  color:#000;
  background-color:#fff;
  font-size:15px;
  font-weight:300;
}

.column-tab{
  margin-bottom:20px;
}
#footer{
	background-color:#f2f2f2;
	
}

