@media (min-width:360px) {
  #show-image p{
    font-size:20px;
    color:#fff;
    font-weight:300;
  }
}

@media (max-width:359px) {
  #show-image p{
    font-size:20px;
    color:#fff;
    font-weight:300;
  }
}

